body {
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    overflow: hidden;
}

/* Hide scrollbars */
canvas {
    display: block;
}

#interactionPrompt {
    position: absolute;
    bottom: 50px;
    /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 18px;
    border-radius: 5px;
    z-index: 2;
    /* Above the canvas but below overlays */
    opacity: 0;
    /* Initially hidden */
    /* display: none; Hidden by default */
    transition: opacity 0.3s ease;
}

#interactionPrompt.show {
    /* display: block; */
    opacity: 1;
}

#interactionPrompt.hide {
    /* display: none; */
    opacity: 0;
}


/* Initial styles for #info */
#info {
    display: flex;
    flex-direction: row;
    position: absolute;
    opacity: 1;
    transition: opacity 0.5s ease;
    font-family: Arial, sans-serif;
    font-size: 32px;
    color: white;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
    /* Transparent black background */
    border-radius: 10px;
    /* Rounded edges */
    padding: 20px;
    /* Optional: Add some padding */
    text-align: center;
}

/* Center position class */
#info.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Corner position class */
#info.corner {
    top: 10px;
    left: 10px;
    font-size: 18px;
    /* Smaller font size for corner */
}

/* Fade out class */
#info.fade-out {
    opacity: 0;
}

#info-left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
}

#info-right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex: 2;
}

/* Styles when #info moves to the top-left corner */
#info.corner #info-left {
    display: none;
    /* Hide the left section */
}

#info.corner p {
    margin: 0;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.75);
    color: white;
    font-family: Arial, sans-serif;
    font-size: 24px;
    z-index: 2;
}

#planetInfoOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 3;
    display: none;
    /* Hidden by default */
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    /* Smooth transition */
}

#planetInfoOverlay.active {
    display: flex;
    /* Show the overlay */
    opacity: 1;
    /* Fully opaque */
}

#planetInfoContent {
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    max-width: 600px;
    max-height: 80%;
    overflow-y: auto;
    position: relative;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    animation: slideIn 0.3s ease;
    /* Slide-in animation */
    text-align: center;
}

#closeOverlayButton {
    position: absolute;
    top: 15px;
    right: 15px;
    background: transparent;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: #888;
    transition: color 0.2s ease;
}

#closeOverlayButton:hover {
    color: #000;
}

#planetInfoContent ul {
    text-align: left;
}

#planetInfoContent li {
    color: #333;
    line-height: 1.6;
    position: relative;
    padding-left: 20px;
    list-style-type: none;
    /* Remove default list style */
}

#planetInfoContent li::before {
    content: '★';
    position: absolute;
    left: 0;
    color: #ffcc00;
    /* Gold color for the star */
    font-size: 1.2em;
}

#planetInfoContent h2 {
    margin-top: 0;
    color: #111;
}

#planetInfoContent h3 {
    margin-top: 0;
    color: #222;
}

#planetInfoContent a {
    text-decoration: none;
}

/* Fade-in Animation */
@keyframes slideIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}